<div class="new-answer"><a class="btnQuestion" href="#">New Question</a></div>
<article class="col-sm-12">
    <div class="panel ">
        <div class="panel-heading">
            <h3><a href="#/forum/category/{{category.objectId}}">{{category.name}}</a></h3>
        </div>
        {{#results}}
        <div class="panel-body">
            <div class="question-panel">
                <div class="question-title">
                    <h4><a href="#/forum/{{objectId}}">{{title}}</a></h4>
                </div>
                <div class="question-viewing">
                    <article>({{viewCounter}})</article>
                </div>
                <div class="question-content">
                    <article>{{content}}</article>
                </div>
            </div>
            <hr>
            <div class="active-user">
                <div class="author">Author: <a href="#/users/{{author.objectId}}">{{author.username}}</a></div>
                <div class="date">{{createdAt}}</div>
            </div>
            <hr>
        </div>
        {{/results}}
    </div>
</article>