<div id="user-page">
    <div class="row">
        <div class="col-sm-4">
            <div class="user-panel-heading">
                <h3 class="panel-title">Kristian Mariyanov</h3>
                <div class="username">
                    <img class="profilePic" src="images/team-01.jpg" alt="Kiko"/>
                    <h3>kiko144</h3>
                </div>
                <a href="https://github.com/KristianMariyanov">GitHub: https://github.com/KristianMariyanov</a>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="user-panel-heading">
                <h3 class="panel-title">Yana Slavcheva</h3>
                <div class="username">
                    <img class="profilePic" src="images/team-02.jpg" alt="Yana"/>
                    <h3>jabalka</h3>
                </div>
                <a href="https://github.com/YanaSlavcheva">GitHub: https://github.com/YanaSlavcheva</a>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="user-panel-heading">
                <h3 class="panel-title">Zhivko Angelov</h3>
                <div class="username">
                    <img class="profilePic" src="images/team-03.jpg" alt="Zhivko"/>
                    <h3>JiVeNcE</h3>
                </div>
                <a href="https://github.com/JiVeNcE">GitHub: https://github.com/JiVeNcE</a>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="user-panel-heading">
                <h3 class="panel-title">Petar Rusev</h3>
                <div class="username">
                    <img class="profilePic" src="images/team-04.jpg" alt="petar"/>
                    <h3>petar.rusev</h3>
                </div>
                <div>
                    <a href="https://github.com/petar-rusev">GitHub: https://github.com/petar-rusev</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="user-panel-heading">
                <h3 class="panel-title">Yavor Ivanov</h3>
                <div class="username">
                    <img class="profilePic" src="images/team-05.jpg" alt="yavor"/>
                    <h3>divoom12</h3>
                </div>
                <div>
                    <a href="https://github.com/ya-ivanov">GitHub: https://github.com/ya-ivanov</a>
                </div>
            </div>
        </div>
    </div>
</div>