<form class="form" role="form">
    <h2>Add New Question</h2>
    <div class="enter-button">
        <input id="postForm" type="image" src="images/enter.png" />
    </div>
    <div class="input-container">
        <label for="postTitle">Question Title</label><br/>
        <input type="text" id="postTitle"/><br/>

        <label for="postContent">Question Content</label><br/>
        <textarea id="postContent" cols="30" rows="10"></textarea><br/>

        <label for="category">Question Category</label><br/>
        <select id="category"></select><br/>

        <label for="postTags">Question Tags (Separate With Commas)</label><br/>
        <input type="text" id="postTags"/><br/>
    </div>
</form>
<script>
    require(['createPost']);
</script>