<form class="form" role="form">
    <h2>Please Login</h2>
    <div class="enter-button">
        <input type="image" src="images/enter.png" />
    </div>
    <div class="input-container">
        <label for="username" class="sr-only">Username</label>
        <input type="email" id="username" class="signin-control" placeholder="Username" required="" autofocus="">
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="signin-control" placeholder="Password" required="">
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me

            <!--TODO: Fix HREF-->
            <span>New user? &nbsp&nbsp <a href="#/register"> Sign up</a></span>
        </label>
    </div>
</form>