<article class="col-sm-12">
    <div class="panel ">
        <div class="panel-heading">
            <h3><a href="categoryMainPage.html">NEWS</a></h3>
        </div>

        {{#results}}
        <div class="panel-body">
            <div class="question-panel">
                <div class="question-title">
                    <h4>{{theme}}</h4>
                </div>
                <div class="question-content">
                    <p>{{content}}</p>
                </div>
            </div>
            <hr>
        </div>
        {{/results}}
    </div>
</article>