<form class="form" role="form">
    <h2>Register</h2>
    <div class="input-container">
        <br/>
        <input type="text" id="firstName" class="signup-control" placeholder="First Name" required="" autofocus="">
        <input type="text" id="lastName" class="signup-control" placeholder="Last Name" required="">
        <input type="text" id="username" class="signup-control" placeholder="Username" required="">
        <input type="password" id="password" class="signup-control" placeholder="Password" required="">
        <input type="password" id="repeatPassword" class="signup-control" placeholder="Repeat Password" required="">
        <input type="Email" id="inputEmail" class="signup-control" placeholder="Email" required="">
        <textarea  id="aboutMe" class="signup-control" placeholder="About me"></textarea>
    </div>
    <div class="enter-button">
        <input id='registerForm' type="image" src="images/enter.png" />
    </div>
</form>
<script src="../scripts/register.js"></script>